USE [master]
GO
/****** Object:  Database [FerreteriaDB_Proyecto]    Script Date: 13/07/2026 20:46:43 ******/
CREATE DATABASE [FerreteriaDB_Proyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FerreteriaDB_Proyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FerreteriaDB_Proyecto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FerreteriaDB_Proyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FerreteriaDB_Proyecto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FerreteriaDB_Proyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FerreteriaDB_Proyecto]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[slug] [nvarchar](80) NOT NULL,
	[icono] [nvarchar](60) NULL,
	[orden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[logo_url] [nvarchar](200) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[sku] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[precio_oferta] [decimal](10, 2) NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_marca] [int] NULL,
	[imagen_url] [nvarchar](200) NULL,
	[destacado] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ofertas]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ofertas](
	[id_oferta] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio_oferta] [decimal](10, 2) NOT NULL,
	[descuento_pct] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ofertas_hoy]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTAS ÚTILES
-- ============================================================

-- Productos con oferta vigente hoy
CREATE   VIEW [dbo].[v_ofertas_hoy] AS
SELECT
    p.sku, p.nombre,
    p.precio              AS precio_original,
    o.precio_oferta,
    o.descuento_pct,
    m.nombre              AS marca,
    c.nombre              AS categoria,
    p.imagen_url
FROM Ofertas o
JOIN Productos  p ON p.id_producto  = o.id_producto
JOIN Categorias c ON c.id_categoria = p.id_categoria
LEFT JOIN Marcas m ON m.id_marca    = p.id_marca
WHERE o.activo = 1
  AND CAST(SYSDATETIME() AS DATE) BETWEEN o.fecha_inicio AND o.fecha_fin;

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](200) NULL,
	[rol] [nvarchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[codigo_pedido] [nvarchar](20) NOT NULL,
	[id_usuario] [int] NULL,
	[cliente_nombre] [nvarchar](120) NOT NULL,
	[cliente_email] [nvarchar](150) NULL,
	[cliente_telefono] [nvarchar](20) NULL,
	[metodo_pago] [nvarchar](20) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[descuento] [decimal](10, 2) NOT NULL,
	[envio] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[direccion_entrega] [nvarchar](200) NULL,
	[notas] [nvarchar](max) NULL,
	[fecha_pedido] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_pedidos_completo]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pedidos completos con datos del cliente
CREATE   VIEW [dbo].[v_pedidos_completo] AS
SELECT
    p.codigo_pedido,
    p.cliente_nombre,
    u.dni,
    p.cliente_email,
    p.cliente_telefono,
    p.subtotal, p.descuento, p.envio, p.total,
    p.metodo_pago,
    p.estado,
    p.fecha_pedido
FROM Pedidos p
LEFT JOIN Usuarios u ON u.id_usuario = p.id_usuario;

GO
/****** Object:  Table [dbo].[PedidoDetalle]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NULL,
	[sku_producto] [nvarchar](20) NOT NULL,
	[nombre_producto] [nvarchar](200) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_detalle_pedido]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Detalle de pedidos con producto
CREATE   VIEW [dbo].[v_detalle_pedido] AS
SELECT
    p.codigo_pedido,
    d.sku_producto        AS sku,
    d.nombre_producto     AS producto,
    d.cantidad,
    d.precio_unitario,
    d.subtotal            AS subtotal_linea,
    p.total               AS total_pedido,
    p.estado
FROM PedidoDetalle d
JOIN Pedidos p ON p.id_pedido = d.id_pedido;

GO
/****** Object:  Table [dbo].[Carritos]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritos](
	[id_carrito] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [nvarchar](120) NOT NULL,
	[id_usuario] [int] NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritoDetalle]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoDetalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_carrito] [int] NOT NULL,
	[id_producto] [int] NULL,
	[sku_producto] [nvarchar](20) NOT NULL,
	[nombre_producto] [nvarchar](200) NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[imagen_url] [nvarchar](200) NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_carrito_detalle]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Carrito activo con datos del producto
CREATE   VIEW [dbo].[v_carrito_detalle] AS
SELECT
    c.id_usuario,
    cd.id_carrito,
    p.sku,
    p.nombre,
    p.imagen_url,
    cd.cantidad,
    cd.precio_unitario,
    (cd.cantidad * cd.precio_unitario) AS subtotal
FROM CarritoDetalle cd
JOIN Carritos  c ON c.id_carrito  = cd.id_carrito
JOIN Productos p ON p.id_producto = cd.id_producto;

GO
/****** Object:  View [dbo].[v_stock_bajo]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stock bajo (menos de 5 unidades)
CREATE   VIEW [dbo].[v_stock_bajo] AS
SELECT
    p.sku, p.nombre, p.stock,
    c.nombre AS categoria,
    m.nombre AS marca
FROM Productos p
JOIN Categorias c ON c.id_categoria = p.id_categoria
LEFT JOIN Marcas m ON m.id_marca = p.id_marca
WHERE p.stock < 5 AND p.activo = 1;

GO
/****** Object:  Table [dbo].[MensajesContacto]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MensajesContacto](
	[id_mensaje] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[asunto] [nvarchar](150) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_envio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_mensajes_pendientes]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Mensajes de contacto sin responder
CREATE   VIEW [dbo].[v_mensajes_pendientes] AS
SELECT
    id_mensaje, nombre, email, telefono,
    asunto,
    LEFT(mensaje, 80)  AS preview,
    fecha_envio
FROM MensajesContacto
WHERE estado = 'nuevo';

GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 13/07/2026 20:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[id_sesion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_expira] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarritoDetalle] ON 

INSERT [dbo].[CarritoDetalle] ([id_detalle], [id_carrito], [id_producto], [sku_producto], [nombre_producto], [precio_unitario], [imagen_url], [cantidad]) VALUES (3, 1, 1, N'EDG-DST-001', N'Martillo A1-T1', CAST(18.00 AS Decimal(10, 2)), N'http://localhost:3000/assets/img/martillo%202.png', 2)
INSERT [dbo].[CarritoDetalle] ([id_detalle], [id_carrito], [id_producto], [sku_producto], [nombre_producto], [precio_unitario], [imagen_url], [cantidad]) VALUES (4, 1, 2, N'EDG-DST-002', N'Destornillador Rba-31', CAST(10.00 AS Decimal(10, 2)), N'http://localhost:3000/assets/img/martillo%202%20(1).png', 1)
SET IDENTITY_INSERT [dbo].[CarritoDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[Carritos] ON 

INSERT [dbo].[Carritos] ([id_carrito], [session_id], [id_usuario], [fecha_actualizacion]) VALUES (1, N'edg-mrjwvfzd-2qre1n5x', 5, CAST(N'2026-07-13T19:37:16.3437685' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Carritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([id_categoria], [nombre], [slug], [icono], [orden]) VALUES (1, N'Herramientas Manuales', N'manuales', N'fa-hammer', 1)
INSERT [dbo].[Categorias] ([id_categoria], [nombre], [slug], [icono], [orden]) VALUES (2, N'Herramientas Eléctricas', N'electricas', N'fa-bolt', 2)
INSERT [dbo].[Categorias] ([id_categoria], [nombre], [slug], [icono], [orden]) VALUES (3, N'Herramientas Inalámbricas', N'inalambricas', N'fa-wifi', 3)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([id_marca], [nombre], [logo_url], [activo]) VALUES (1, N'Wiseup', NULL, 1)
INSERT [dbo].[Marcas] ([id_marca], [nombre], [logo_url], [activo]) VALUES (2, N'Truper', NULL, 1)
INSERT [dbo].[Marcas] ([id_marca], [nombre], [logo_url], [activo]) VALUES (3, N'Rankor', NULL, 1)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[MensajesContacto] ON 

INSERT [dbo].[MensajesContacto] ([id_mensaje], [nombre], [email], [telefono], [asunto], [mensaje], [estado], [fecha_envio]) VALUES (1, N'aaaaaa', N'dav@gmail.com', N'952952952', N'asuuuu', N'asu 123', N'nuevo', CAST(N'2026-07-13T20:02:48.7934178' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MensajesContacto] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_producto], [sku], [nombre], [descripcion], [precio], [precio_oferta], [stock], [id_categoria], [id_marca], [imagen_url], [destacado], [activo], [fecha_creacion]) VALUES (1, N'EDG-DST-001', N'Martillo A1-T1', NULL, CAST(18.00 AS Decimal(10, 2)), NULL, 50, 1, 2, N'assets/img/martillo 2.png', 1, 1, CAST(N'2026-05-25T21:30:57.3772440' AS DateTime2))
INSERT [dbo].[Productos] ([id_producto], [sku], [nombre], [descripcion], [precio], [precio_oferta], [stock], [id_categoria], [id_marca], [imagen_url], [destacado], [activo], [fecha_creacion]) VALUES (2, N'EDG-DST-002', N'Destornillador Rba-31', NULL, CAST(10.00 AS Decimal(10, 2)), NULL, 50, 1, 1, N'assets/img/martillo 2 (1).png', 1, 1, CAST(N'2026-05-25T21:30:57.3772440' AS DateTime2))
INSERT [dbo].[Productos] ([id_producto], [sku], [nombre], [descripcion], [precio], [precio_oferta], [stock], [id_categoria], [id_marca], [imagen_url], [destacado], [activo], [fecha_creacion]) VALUES (3, N'EDG-DST-003', N'Martillo A1-T1 Pro', NULL, CAST(18.00 AS Decimal(10, 2)), NULL, 50, 1, 2, N'assets/img/martillo 2 (2).png', 1, 1, CAST(N'2026-05-25T21:30:57.3772440' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Sesiones] ON 

INSERT [dbo].[Sesiones] ([id_sesion], [id_usuario], [token], [fecha_inicio], [fecha_expira], [activo]) VALUES (1, 5, N'cba927f9c22fb7268d33a6f29efe7e6a8d39803abecd1ef7a327aa98046b44b870814acc9c78a44ed0510f4c0a719e2d', CAST(N'2026-07-13T19:26:44.8845126' AS DateTime2), CAST(N'2026-07-14T08:26:44.8780000' AS DateTime2), 0)
INSERT [dbo].[Sesiones] ([id_sesion], [id_usuario], [token], [fecha_inicio], [fecha_expira], [activo]) VALUES (2, 7, N'8029058a0e53fb856848723cac17ee892fe8d27ac3f7358a5541b5ede6d7ee2868c0eb2587f596ac72a839cde988cfc2', CAST(N'2026-07-13T19:37:15.9216563' AS DateTime2), CAST(N'2026-07-14T08:37:15.9160000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Sesiones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [dni], [nombre], [apellido], [email], [password_hash], [telefono], [direccion], [rol], [activo], [fecha_registro]) VALUES (1, N'00000001', N'Admin', N'EDG', N'admin@edgroup.com', N'$2b$10$CAMBIA_ESTE_HASH_EJECUTANDO_bcrypt.hash_EN_NODE', NULL, NULL, N'admin', 1, CAST(N'2026-05-25T21:30:57.3832286' AS DateTime2))
INSERT [dbo].[Usuarios] ([id_usuario], [dni], [nombre], [apellido], [email], [password_hash], [telefono], [direccion], [rol], [activo], [fecha_registro]) VALUES (2, N'45123789', N'David', N'Ramirez Torres', N'david.ramirez@edgroup.com', N'$2b$10$8j4yi1JW9KyZs.ME4JLqUOhG03/dbQ1JL8Ps5zfpbLjqnA4p0suje', N'987654321', N'Av. Los Constructores 145, San Isidro, Lima', N'admin', 1, CAST(N'2026-07-13T18:48:34.9318991' AS DateTime2))
INSERT [dbo].[Usuarios] ([id_usuario], [dni], [nombre], [apellido], [email], [password_hash], [telefono], [direccion], [rol], [activo], [fecha_registro]) VALUES (3, N'42876543', N'Carla', N'Mendoza Vargas', N'carla.mendoza@edgroup.com', N'$2b$10$R/6ApE2zY5BrA6acuZQeCe7phTzBKxHvP/ulKqPF4B9C9H123KlWC', N'965432187', N'Jr. Comercio 302, Miraflores, Lima', N'admin', 1, CAST(N'2026-07-13T18:48:34.9318991' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cat_nombre]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Categorias] ADD  CONSTRAINT [UQ_Cat_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cat_slug]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Categorias] ADD  CONSTRAINT [UQ_Cat_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Marca_nombre]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Marcas] ADD  CONSTRAINT [UQ_Marca_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Pedido_codigo]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [UQ_Pedido_codigo] UNIQUE NONCLUSTERED 
(
	[codigo_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Producto_sku]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ_Producto_sku] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Sesion_token]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Sesiones] ADD  CONSTRAINT [UQ_Sesion_token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario_dni]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuario_dni] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario_email]    Script Date: 13/07/2026 20:46:43 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuario_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarritoDetalle] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Carritos] ADD  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[Marcas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MensajesContacto] ADD  DEFAULT ('nuevo') FOR [estado]
GO
ALTER TABLE [dbo].[MensajesContacto] ADD  DEFAULT (sysdatetime()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[Ofertas] ADD  DEFAULT ((0)) FOR [descuento_pct]
GO
ALTER TABLE [dbo].[Ofertas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [envio]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (sysdatetime()) FOR [fecha_pedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [destacado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT (sysdatetime()) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CarDet_Carrito] FOREIGN KEY([id_carrito])
REFERENCES [dbo].[Carritos] ([id_carrito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_CarDet_Carrito]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CarDet_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_CarDet_Producto]
GO
ALTER TABLE [dbo].[Carritos]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Carritos] CHECK CONSTRAINT [FK_Carrito_Usuario]
GO
ALTER TABLE [dbo].[Ofertas]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ofertas] CHECK CONSTRAINT [FK_Oferta_Producto]
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedDet_Pedido] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedidos] ([id_pedido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PedidoDetalle] CHECK CONSTRAINT [FK_PedDet_Pedido]
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedDet_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PedidoDetalle] CHECK CONSTRAINT [FK_PedDet_Producto]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedido_Usuario]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Prod_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Prod_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Prod_Marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[Marcas] ([id_marca])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Prod_Marca]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesion_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesion_Usuario]
GO
ALTER TABLE [dbo].[MensajesContacto]  WITH CHECK ADD  CONSTRAINT [CK_Msg_estado] CHECK  (([estado]='respondido' OR [estado]='leido' OR [estado]='nuevo'))
GO
ALTER TABLE [dbo].[MensajesContacto] CHECK CONSTRAINT [CK_Msg_estado]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedido_estado] CHECK  (([estado]='cancelado' OR [estado]='entregado' OR [estado]='enviado' OR [estado]='en_proceso' OR [estado]='confirmado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedido_estado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_rol] CHECK  (([rol]='admin' OR [rol]='cliente'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuario_rol]
GO
USE [master]
GO
